<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale:1.0, user-scalable=no">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="css/style2.css" type="text/css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/estilos.css">

<title>Examen-Bootstrap</title>

<body>

    <div class="container">

        <!-- Encabezado del sitio -->
        <div class="container">

            <div class="row">
                <div class="col-lg-2 " style="align-content: center">
                    <img class="jumbotron-img img-responsive " src='img/vc.png' width="200" />

                    <p style="color: #ffffff; font-size:20px; padding-left: 25px; ">Full Music
                    </p>
                </div>

                <div class="col-10 col-lg-10 bg-info" style="background-image: url(img/YY.png)">
                    <div class="col-lg-12 bg-warnngi " id="redes" style="">
                        <ul class="social-header list-inline text-xs-right">
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg " style="background-color: red; width: 90px; float: right; ">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg" style="background-color: red; width: 90px; float: right">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg" style="background-color: red; width: 90px; float: right">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg" style="background-color: red; width: 90px; float: right">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ((03))Navegación -->
            <!-- Barra de navegación -->
            <div class="row">
                <nav id="menu-principal" class="navbar navbar-default" style="background-color:#ff3d00 ">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="activo text-center"><a href="#">Inicio</a></li>
                            <li><a class="text-center" href="#">Mi música</a></li>
                            <li><a class="text-center" href="#">Canciones</a></li>
                            <li><a class="text-center" href="#">Albumes</a></li>
                            <li><a class="text-center" href="#">Top 10</a></li>
                            <li><a class="text-center" href="#">Más escuchados</a></li>
                        </ul>
                    </div>
                </nav>
            </div>


            <!-- Barra de menu tienda mobil-->

            <br>
            <hr class="visible-xs">


            <!-- ((03))FIN -->

            <!-- ((04))CONTENIDO -->

            <div class="row float-lg-right">

                <div class=" col-12 col-lg-9 bg-info ">
                    <!-- Biografia -->
                    <div class="row " style="background-color: #ff80ab; padding: 20px; ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <h2>Marcela Gándara</h2>
                            <p class="lead text-justify">
                                Gándara nació el 24 de agosto de 1983 en Ciudad Juárez, Chihuahua, México. Desde pequeña empezó a cantar pues era una de sus pasiones. A los 18 años, tuvo la oportunidad de ingresar a un seminario bíblico intensivo y fue ahí donde decidió dedicarse a
                                la música cristiana.
                        </div>

                        <div id="mg" class="col-lg-4 d-flex align-items-center " style="height: 350px;">
                            <img class="jumbotron-img img-responsive mt center-block" style="border-style: solid; border-radius: 10% ; " src="img/Marcela.png" width="300">
                        </div>

                    </div>
                    <!-- Comentario -->
                    <div class="row bg-dark p-1" style="background-color:#ff1744; padding: 10px;">
                        <div class="col-1 col-xs-1 col-sm-1 col-lg-1 ">
                            <i class="fas fa-portrait fa-stack-2x"></i>
                        </div>
                        <div class="col-11 col-xs-11 col-lg-11 float-right">
                            <input class="form-control form-control-range" type="text" placeholder="Comentario...">
                        </div>
                    </div>
                    <!-- -----end Comentario----- -->
                    <!-- Biografia -->
                    <div class="row " style="background-color: #64b5f6; padding: 10px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <h2>Alex Zurdo</h2>
                            <p class="lead mb-0 text-justify">
                                Es uno de los cantantes destacados de la música cristiana urbana, de los géneros rap cristiano, reggae y fusión urbano/ pop; además es autor y compositor de sus propios temas. Su nombre real es Alexis Vélez Alberio, nacido un 10 de Junio de 1983, en Trujillo
                                Alto, Puerto Rico. Está casado con Dennisse Contreras y tiene dos hijos: Daniel Alexander y Sophia Grace. Cuenta con cerca de una decena de producciones musicales, y varios galardones de los Pemios AMCL y Unción.
                        </div>
                        <div class=" col-lg-4  d-flex align-items-center ">
                            <img class="jumbotron-img img-responsive center-block " style="border-style: solid; border-radius: 10% ; margin-bottom: 47px;" src='img/alex-zurdo.jpg' width="300" height="350" />
                        </div>
                    </div>
                    <!-- Comentario -->
                    <div class="row bg-dark p-1" style="background-color:#3f51b5; padding: 10px; ">
                        <div class="col-1 col-xs-1 col-sm-1 col-lg-1 ">
                            <i class="fas fa-portrait fa-stack-2x"></i>
                        </div>
                        <div class="col-11 col-xs-11 col-lg-11 float-right">
                            <input class="form-control form-control-range" type="text" placeholder="Comentario...">
                        </div>
                    </div>
                    <!-- -----end Comentario----- -->
                    <!-- Biografia -->
                    <div class="row " style="background-color: #ffb300; padding: 10px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <h2>Jesus Adrian Romero</h2>
                            <p class="lead mb-0 text-justify">
                                Jesús Adrián Romero Ibarra (Hermosillo, Sonora, 16 de febrero de 1965) es un cantante y compositor mexicano de música cristiana.1​ Es fundador y presidente de Vástago Producciones, una compañía discográfica de música cristiana.2​ Con más de 25 años de
                                trayectoria Jesús Adrián es considerado uno de los más representativos y máximos exponentes de este género en lenguaje español y también como uno de los más grandes ministros que se han levantando en los últimos tiempos.
                        </div>
                        <div class="col-lg-4 ">
                            <img class="jumbotron-img img-responsive center-block d-flex align-items-center " style="border-style: solid; border-radius: 10% ; margin-bottom: 47px;" src='img/jesusadr.jpg' width="300" height="350" />
                        </div>
                    </div>
                    <!-- Comentario -->
                    <div class="row bg-dark p-1" style="background-color:#e65100; padding: 10px; ">
                        <div class="col-1 col-xs-1 col-sm-1 col-lg-1 ">
                            <i class="fas fa-portrait fa-stack-2x"></i>
                        </div>
                        <div class="col-11 col-xs-11 col-lg-11 float-right">
                            <input class="form-control form-control-range" type="text" placeholder="Comentario...">
                        </div>
                    </div>
                    <!-- -----end Comentario----- -->
                    <!-- Biografia -->
                    <div class="row " style="background-color: #00e676; padding: 10px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <h2>Alex Campos</h2>
                            <p class="lead mb-0 text-justify">
                                Édgar Alexánder Campos Mora (10 de septiembre de 1976, Bogotá, Colombia), más conocido como Álex Campos, es un cantante, músico y compositor colombiano de música cristiana. Es considerado uno de los mayores y principales exponentes de la música cristiana1​
                                ganador de cuatro Premios Grammy Latinos por mejor álbum cristiano en español. Desde 2001 pertenece a la compañía musical Misión Vida, fundada por él mismo para promover su ministerio. Es intérprete de varios temas conocidos
                                en el ámbito cristiano como «Sueño de morir», «Al taller del maestro», «Me robaste el corazón», «Tu poeta», «Como el color de la sangre», «El Sonido Del Silencio», «No tiene prisa», «Lenguaje de amor», «Derroche de amor»,
                                «Amigos»,
                                <<Te vengo a decir>>,entre otros. Sus hijos Juannita Campos y Simon Campos de (10-7) años de edad
                        </div>
                        <div id="mg" class="col-lg-4 d-flex align-items-center " style="height: 450px;">
                            <img class="jumbotron-img img-responsive mt center-block" style="border-style: solid; border-radius: 10% ; " src="img/alexca.jpg" width="300">
                        </div>
                    </div>
                    <!-- Comentario -->
                    <div class="row bg-dark p-1" style="background-color:#4caf50; padding: 10px; ">
                        <div class="col-1 col-xs-1 col-sm-1 col-lg-1 ">
                            <i class="fas fa-portrait fa-stack-2x"></i>
                        </div>
                        <div class="col-11 col-xs-11 col-lg-11 float-right">
                            <input class="form-control form-control-range" type="text" placeholder="Comentario...">
                        </div>
                    </div>
                    <!-- -----end Comentario----- -->
                    <!-- Biografia -->
                    <div class="row " style="background-color: #1b5e20 ; padding: 10px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <h2>Lili Goodman</h2>
                            <p class="lead mb-0 text-justify">
                                Es una cantante de música cristiana originaria de Santo Domingo, República Dominicana y de ascendencia británica. Está casada con el norteamericano David Hegwood y tiene un hijo de nombre Liam Michael. Cuenta con ocho producciones discográficas, un libro
                                y varios galardones de los Premios Arpa, Casandra, AMCL, Nueva vida y El Soberano. Así como, una nominación a los Latin Grammy 2013.
                        </div>
                        <div class="col-lg-4 ">
                            <img class="jumbotron-img img-responsive center-block d-flex align-items-center " style="border-style: solid; border-radius: 10% ; margin-bottom: 47px;" src='img/LillyGoodman.jpeg' width="300" height="350" />
                        </div>
                    </div>
                    <!-- Comentario -->
                    <div class="row bg-dark p-1" style="background-color:#76ff03; padding: 10px; ">
                        <div class="col-1 col-xs-1 col-sm-1 col-lg-1 ">
                            <i class="fas fa-portrait fa-stack-2x"></i>
                        </div>
                        <div class="col-11 col-xs-11 col-lg-11 float-right">
                            <input class="form-control form-control-range" type="text" placeholder="Comentario...">
                        </div>
                    </div>
                    <!-- -----end Comentario----- -->

                </div>
                <!-- barra lateral -->
                <div class=" col-md-3 col-lg-3 hidden-sm hidden-xs " style=" background-color: #ea80fc">

                    <!-- buscar -->

                    <div class="row">
                        <div class="col-lg-12 ">
                            <form action="" class="pt-3" style="padding-top: 10px;">
                                <div class="form-group inner-addon left-addon p-3">
                                    <i>
                                        <input type="text" class="form-control " placeholder="Buscar">

                                    </i>
                                    <button class="btn btn-danger " style="margin-top: 4px; background:#ff1744">
                                        Buscar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- buscar fin -->

                    <!-- listado -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="list-group text-center">
                                <br>
                                <a href="" class="list-group-item">Jesus Adrian Romero</a>
                                <a href="" class="list-group-item">Jeremy Camp</a>
                                <a href="" class="list-group-item">Alex Campos</a>
                                <a href="" class="list-group-item">Ricardo Ceratto</a>
                                <a href="" class="list-group-item">Jaci Velásquez</a>
                                <a href="" class="list-group-item">Doris Machin</a>
                                <a href="" class="list-group-item">Marcos Brunet</a>
                                <a href="" class="list-group-item">Amanda Michalka</a>
                                <a href="" class="list-group-item">Miguel Balboa</a>
                                <a href="" class="list-group-item">Danilo Montero</a>
                                <a href="" class="list-group-item">Pablo Olivares</a>
                                <a href="" class="list-group-item">Redimi2</a>
                                <a href="" class="list-group-item">Christian Sebastia</a>
                                <a href="" class="list-group-item">Laura Story</a>
                                <a href="" class="list-group-item">Vasili Titov</a>
                                <a href="" class="list-group-item">Jason Upton</a>
                                <a href="" class="list-group-item">Isabelle Valdez</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- Contenido -->


    </div>
    <!-- Fin de container principal -->

    <script src="js/bootstrap.js"></script>
</body>